<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title  th:if="${mode=='edit'}">Modify Genre</title>
<title  th:if="${mode=='new'}">Add Genre</title>
</head>
<body>


	<div layout:fragment="Mycontent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header"  th:if="${mode=='edit'}">Modify Genre</div>
				<div class="card-header"  th:if="${mode=='new'}">Add Genre</div>
				<div class="card-body">
				
				
				
				
				
				
				<form th:action="@{saveGenre}" method="post">
						<div class="form-group">
							<label  class="control-label" hidden>ID :</label>
							<input type="hidden" name="idGen" class="form-control"
							th:value="${genre.idGen}" th:if="${mode=='edit'}"/>
														
						</div>
						
						<!-- <div class="form-group">
							<label class="control-label">Genre :</label> 
							<input type="text" name="nomGen" class="form-control" 
							th:value="${categorie.nomGen}" />
							<span th:errors= ${categorie.nomGen} class="text-danger"> </span>
							
						</div>
						
						
						<div class="form-group">
							<label class="control-label">Description :</label> 
							<input type="text" name="descriptionGen" class="form-control" 
							th:value="${categorie.descriptionGen}" />
							<span th:errors= ${categorie.descriptionGen} class="text-danger"> </span>
							
						</div>-->
						
						<div class="form-group">
							<label class="control-label">Genre :</label> 
							<input type="text" name="nomGen" class="form-control" 
							th:value="${genre.nomGen}" />
							<span th:errors= ${genre.nomGen} class="text-danger"> </span>
							
						</div>

						<div class="form-group">
							<label class="control-label">Description :</label> 
							<input type="text" name="descriptionGen" class="form-control" 
							th:value="${genre.descriptionGen}" />
							<span th:errors= ${genre.descriptionGen} class="text-danger"> </span>
							

						<div>
							<button type="submit" class="btn btn-primary"  th:if="${mode=='edit'}">Modify</button>
							<button type="submit" class="btn btn-primary"  th:if="${mode=='new'}">Add</button>
						</div>

					</form>
				
				
				
						<!--<table>
							<tr th:each="c:${categories.content}">
						<td th:text="${c.idCat}"></td>
						<td th:text="${c.nomCat}"></td>
						<td th:text="${c.descriptionCat}"></td>
							</tr>
						</table>
						<table><tr th:each="c:${categories}"><td th:text="${c.idCat}"></td> </tr></table>
						
						<select type="text" name="idCat" class="form-control" multiple="false" required
							th:each="c:${categories}">
							<option th:value="${c.idCat}" th:text="${c.nomCat}"> </option>
							</select>-->
						

				</div>
			</div>
		</div>
	</div>



</body>
</html>